@model IEnumerable<SkinCare.Web.Models.ProductDto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>



  <!-- slider section -->
  <section class="slider_section position-relative">
    <div class="slider_bg_box">
            <img src="https://img.freepik.com/free-photo/well-kept-portrait-beautiful-young-woman-white-studio-background-concept-cosmetics-makeup-natural-eco-treatment-skin-care-shiny-healthy-look-fashion-healthcare-copyspace_155003-23270.jpg?w=2000">
    </div>
    <div class="slider_bg"></div>
    <div class="container">
      <div class="col-md-9 col-lg-8">
        <div class="detail-box">
          <h1>
              <br>
            Beauty from the inside
            <br>out
  
          </h1>
                    <p style="color:#F1CDB5;margin-bottom:60px">
                        We believe that everyone deserves to feel confident in their own skin, and it is our mission to help you achieve that.
                    </p>
          <div>
            <a href="/Product/ProductIndex" class="slider-link">
              Shop Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Latest Products
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
                           

          <div class="box">
                        <a href="">
                            <div class="img-box" >
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1656077250-13442792-1424913539756896.jpg?crop=0.593xw:0.889xh;0.197xw,0.111xh&resize=480:*" alt="">
              </div>
              <div class="detail-box">
                <h6>
                                     LIZ EARLE - Cleanser And Polish
                </h6>
                <h6>
                  
                  <span>
                    $15
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>

            </a>
            
          </div>
          
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
                           

          <div class="box">
                        <a href="">
                            <div class="img-box" >
                                <img src="https://assets.vogue.com/photos/629923fd2124f862cc2c2690/3:4/w_1280%2Cc_limit/slide_6.jpg" alt="">
              </div>
              <div class="detail-box">
                <h6>
                                  CAUDALIE - Radiance Serum
                </h6>
                <h6>
                  
                  <span>
                    $20
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>

            </a>
            
          </div>
          
        </div>    
        
        <div class="col-sm-6 col-md-4 col-lg-3">
                           

          <div class="box">
                        <a href="">
                            <div class="img-box" >
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1646084896-screen-shot-2022-02-28-at-4-47-51-pm-1646084883.png?crop=0.9647266313932981xw:1xh;center,top&resize=480:*" alt="">
              </div>
              <div class="detail-box">
                <h6>
                                  CAUDALIE -  Instant Brightnening Moisturizer
                </h6>
                <h6>
                  
                  <span>
                    $20
                  </span>
                </h6>
              </div>
              <div class="new">
                <span>
                  New
                </span>
              </div>

            </a>
            
          </div>
          
        </div>
                <div class="col-sm-6 col-md-4 col-lg-3">


                    <div class="box" style="height:313px">
                        <a href="">
                            <div class="img-box">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqPe0yejtZMAEVh9qb6Z373CUygFAp7h5_DMoWF3pioUQwzCXJqKaozbLbSVtrVUpQpUk&usqp=CAU" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    PEACHES -  Face Cleanser
                                </h6>
                                <h6>

                                    <span>
                                        $10
                                    </span>
                                </h6>
                            </div>
                            <div class="new">
                                <span>
                                    New
                                </span>
                            </div>

                        </a>

                    </div>


                </div>

            </div>
       </div>
     
  <!-- end shop section -->

  <!-- about section -->
  <br />
  <br />
  <br />

  <section class="about_section  ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
                            <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/04/15/17/indybest-natural-beauty.jpg?quality=75&width=1200&auto=webp" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              
            </div>
            <p>
                                Introducing our latest addition to the skin care line,<span style="color:red"> "Radiant Glow Serum"!</span>This lightweight, fast-absorbing serum is specially formulated to boost collagen production and reduce the appearance of  fine lines and wrinkles. Infused with natural ingredients like vitamin C and hyaluronic acid. Get your hands on <span style="color:red">  Radiant Glow Serum </span> today and experience the difference!
                            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- offer section -->

  <section class="offer_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 px-0">
          <div class="box offer-box1">
                            <img src="https://media-asia-cdn.oriflame.com/productImage/?externalMediaId=product-management-media%2F44680%2F44680.png%3Fversion%3D1612191602&q=70" alt="">
            <div class="detail-box">
              <h2>
                Upto 15% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-5 px-0">
          <div class="box offer-box2">
                            <img src="https://post.healthline.com/wp-content/uploads/2021/10/1639738-1587911-11-Best-Products-from-The-Ordinary-732x549-Feature-2.jpg" alt="">
            <div class="detail-box">
              <h2>
                Upto 10% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
          <div class="box offer-box3">
                            <img src="https://cdn.cosmostore.org/cache/front/shop/products/482/1451618/350x350.jpg" alt="">
            <div class="detail-box">
              <h2>
                Upto 20% Off
              </h2>
              <a href="">
                Shop Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end offer section -->

  

  <!-- end client section -->

  <!-- info section -->
  
  <!-- end info_section -->
  </body>
